header
    background #E6C9BE
    color #ffffff
.section1
    background #f2f2f2
    overflow hidden
    // height 250px
    .content
        background #fff
        width 730px
        height 230px
        border-radius 10px
        margin 12px auto
        display flex
        flex-direction column
        align-items center
        justify-content center
        span 
            font-size 24px
            color #BCBCBC
        .count
            display flex
            margin-top 10px
            align-items center
            img 
                width 81px
                height 81px
            span 
                font-size 90px
                font-family 'Arvo'
                color #FCD41B
.section2
    background #fff
    height: 80px
    display flex
    align-items center
    padding-left: 32px
    font-size: 28px
    img 
        width: 50px
        height 50px
.line
    height 12px
    width 100%
    background #f2f2f2
.section3
    ul
        li
            display flex
            position relative
            height 120px
            &:before
                content: ''
                width: 47px
                height 47px
                position absolute
                left 0
                top: 50%
                background url('~static/wangwangbi.png') no-repeat center/47px 47px
                transform: translate3d(100%,-50%,0)
            // img 
            //     width: 47px
            //     height 47px
            button
                width: 130px
                height 45px
                line-height: 45px
                font-size: 24px



