.submit
  color #fff;
  background #003366
  font-weight bold
  position fixed
  bottom 0;
  left 0;
.content
  background #f2f2f2
.fang-wrap
  min-height 'calc(100vh - %s)' % 84px
  // padding 11px 0 0
  li
    width: 350px
    border-radius: 7.5px
    background #fff
    margin: 11px auto 0 
    overflow hidden
    // height 
    .port-top
      padding 10px 10px 6px
      font-size: 12px
      height 100px
      position relative
      display: flex
      flex-direction: column
      justify-content: space-between
      .count
        position absolute
        bottom: 8px
        right: 12px
        display: flex
        flex-direction: column
        align-items: center
        font-size: 9px
        .price
          line-height: 1
          font-size: 11px
          color: #003366
          span
            font-size: 18px
      p
        line-height: 2
      .time
        display flex
        justify-content: space-between
.shenhe-wrap
  min-height 'calc(100vh - %s)' % 84px
  // padding 11px 0 0
  li
    width: 350px
    border-radius: 7.5px
    background #fff
    margin: 11px auto 0 
    overflow hidden
    &~li
      margin-top: 10px
    // height 
    .port-top
      padding 10px 10px 6px
      font-size: 12px
      height 100px
      position relative
      display: flex
      flex-direction: column
      justify-content: space-between
      .count
        position absolute
        bottom: 8px
        right: 12px
        display: flex
        flex-direction: column
        align-items: center
        font-size: 9px
        .price
          line-height: 1
          font-size: 11px
          color: #003366
          span
            font-size: 18px
      p
        line-height: 2
      .time
        display flex
        justify-content: space-between
    .btn-wrap
      display flex
      border-top: 1.2px solid #797979
      button 
        width: 175px
        height 35px
        border-radius: 0
        font-size: 16px
        line-height: 35px
        background #fff
        color: #003366
        border none
        &.jiaona
          background #003366
          color: #fff


      

.shenheing-wrap
  min-height 'calc(100vh - %s)' % 84px
  // padding 11px 0 0
  li
    width: 350px
    border-radius: 7.5px
    background #fff
    margin: 11px auto 0 
    overflow hidden
    // height 
    .port-top
      padding 10px 10px 6px
      font-size: 12px
      height 100px
      position relative
      display: flex
      flex-direction: column
      justify-content: space-between
      .count
        position absolute
        bottom: 8px
        right: 12px
        display: flex
        flex-direction: column
        align-items: center
        font-size: 9px
        .price
          line-height: 1
          font-size: 11px
          color: #003366
          span
            font-size: 18px
      p
        line-height: 2
      .time
        display flex
        justify-content: space-between