.content
  height 'calc(100vh - %s)' % 40px
  background #f2f2f2
  ul
    li
      border-bottom 1px solid #797979
      background #fff
      padding 11px
      h1
        font-size: 16px
        text-indent: 3px
      p
        display flex
        align-items: center
        justify-content: space-between
      .title
        font-size: 12px
      .cont
        font-size: 18px
        margin-top: 8px
        .left
          font-size: 15px
          .money
            font-size: 18px
            color #003366
        .lixi
          color #CC3300
      .time
        font-size: 15px
      .input
        font-size: 16px
        input 
          border: none 
          text-align: right
          font-size: 16px
          color #003366
          margin-right: 4px
    .xieyi
      padding: 11px
      display flex
      align-items: center
      input 
        margin-right: 5px

.submit
  background #003366
  color: #fff
  position fixed
  bottom: 0
  left 0

        