.van-cell-group
  margin-top 9px
.van-cell__left-icon
  font-size 20px
.content
  background #f2f2f2
  padding-bottom 60px
  min-height 'calc(100vh - %s)' % 40px
.section1
  width 100%
  height 150px
  background url('~/static/center-bg.png') no-repeat top center / cover
  display flex
  flex-direction column
  align-items center
  justify-content center
  .userinfo
    width: 365px
    height 125px
    background #EDF2F5
    border-radius: 2.5px
    padding 5px 5px 0
    .port-top
      display flex
      height 70px
      align-items: center
      border-bottom: 1px solid #797979
      img.head
        width: 55px
        height 55px
        border-radius: 50%
        margin: 0 12px 0 5px
      .info-text
        height 100%
        display flex
        flex-direction: column
        justify-content: space-around
        font-size: 14px
        color: #868686
        .tag
          display flex
          align-items: center
          .icon
            width: 20px
            height 20px
            margin-right: 5px
    .port-bottom
      display flex
      padding: 0 5px
      font-size: 12px
      height 50px
      justify-content: space-between
      align-items: center
      color: #868686
      .iconfont
        font-size: 24px
      .asset
        height 100%
        display flex
        flex-direction: column
        justify-content: space-around
        .count
          font-size: 20px
          font-family: 'Arial'
          color: #000
          font-weight: bold
.section2
  .factory
    position relative
    &:before
      content ""
      width: 5px
      height 25px
      background: #003366
      position absolute
      left: 0
      top: 50%
      transform: translate3d(0,-50%,0)
  .factory-wrap
    display flex
    align-items: center
    p
      line-height: 1.5
      &.time
        font-size: 10px
        color: #6B6B6B
  .base-fun-wrap
    display flex
    background #f2f2f2
    width: 100%
    justify-content: space-between
    margin-top: 10px
    li
      width: 124px
      height 85px
      background #fff
      display flex
      flex-direction: column
      align-items: center
      justify-content: center
      .iconfont
        font-size: 30px
      span
        margin-top: 8px
        color: #868686
      
    